<h2> This site is secure </h2>
<h5> Please enter your <strong> REAL </strong> credit card information </h5>

<% if @card.errors.full_messages.any? %>
  <ul>
    <% @card.errors.full_messages.each do |msg| %>
      <li> <%= msg %> </li>
    <% end %>
  </ul>
<% end %>

<div id='client-side-error'> </div>

<%= form_for @card, remote: true do |f| %>
  <%= f.text_field :number, {placeholder: 'Card Number'} %>

  <%= f.select :exp_month, (1..12) %>
 <%= f.select :exp_year, (2015..2030) %>

  <%= f.number_field :balance %>

  <%= f.submit :Submit, id: "new_card", data: {disable_with:"submitting…"} %>
<% end %>