<!DOCTYPE html>
<html>
<head>
  <title>Wallet</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>
</head>
<body>




<nav>
  <ul> 
  <% if current_user %>
    <li> <%= link_to "Your Pocket", user_path(current_user) %> </li>
    <li>  <%= link_to( 'Log Out', '/logout', method: :get) %> </li>
  <% else %> 
    <li> <%= form_tag('/login', method: :post) do |f| %> </li>
    <li> <p><%= email_field_tag :email  %> </li>
    <li> <%= password_field_tag :password %> </li>
    <li>  <%= submit_tag "Log in", :style => 'width: 60px' %><p> </li>
  </ul> 
  <% end %>
  <% end %>
</nav>


 <div id = "wrapper">

<%= yield %>
</div>


</body>
</html>
